* {
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  height: 100%;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #35424a;
  padding: 1rem;
  color: #fff;
  border-bottom: 3px solid #a9508b;
}

.header--text span {
  color: #a9508b;
}

.header--menu {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.header--menu ul li {
  text-decoration: none;
  margin-right: 2rem;
}

.header--menu a {
  text-decoration: none;
  color: #fff;
}

.header--menu a:hover {
  color: #a9508b;
}

#home {
  color: #a9508b;
}

.container {
  background-image: url(./images/showcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 80%;
}

.container--section {
  margin: 10rem auto;
  text-align: center;
  color: #fff;
}

.container--section-title {
  font-size: 2rem;
}

.container--nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: flex-end;
  background-color: #35424a;
  color: #fff;
}

.container--nav-email-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.email {
  padding: 0.5rem;
  width: 15rem;
}

.email:focus {
  outline: none;
}

.button {
  padding: 0.5rem 1rem;
  margin: 0rem 1rem;
  background-color: #e8491d;
  color: #fff;
  border: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main img {
  width: 25%;
  padding-top: 2rem;
}

footer {
  text-align: center;
  background-color: #35424a;
  margin-top: 1rem;
  padding: 1rem 0rem;
}

.footer--text {
  color: #fff;
}

/* About Page */

#about {
  color: #a9508b;
}

.dark {
  background-color: #35424a;
  color: white;
  padding: 1rem;
}

.about-section {
  display: flex;
  padding: 2rem;
  margin-bottom: 10rem;
  background-color: #f4f4f4;
}

.section-left {
  width: 60%;
  margin-right: 2rem;
  padding: 1rem;
}

.about-parag3 {
  width: 40%;
  height: 40%;
}

/* Services Page */

#services {
  color: #a9508b;
}

.services-section {
  display: flex;
}

.services-section--left {
  width: 60%;
}

.services-section--left {
  padding: 1.5rem;
}

.light {
  border: 1px solid #e6e6e6;
  padding: 1rem;
  background-color: #d3d3d3;
}

.services-section--parag2 {
  margin: 1rem 0rem;
}

.services-section--right {
  color: white;
  background-color: #35424a;
  height: 50%;
  width: 30%;
  margin-top: 2rem;
  padding: 1rem;
  margin-left: 3rem;
}

#button {
  padding: 0.8rem;
  background-color: #e8491d;
  color: #fff;
  border: none;
  width: 6rem;
}

input {
  padding: 5px;
  width: 90%;
}

input:focus,
textarea:focus {
  outline: none;
}
